@page "/Quan-Ly/Nguoi-Dung"
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons
@using Service.SnapFood.Manage.Dto.User
@namespace Service.SnapFood.Manage.Components.Pages.Manage.User

<FluentStack Orientation="Orientation.Vertical" VerticalGap="12">
    <h2>Danh sách người dùng</h2>

    <FluentStack Orientation="Orientation.Horizontal" Style="display:flex; justify-content:space-between">
        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
        </FluentStack>
        <FluentSearch @bind-Value="SearchKeyword" @bind-Value:after=RefreshDataAsync Placeholder="Nhập vào từ khóa" />
    </FluentStack>
    <FluentGridItem Style="width:100%;">
        <FluentDataGrid @ref="UserGrid"
                        TGridItem="UserDto"
                        ItemsProvider="@LoadUsers"
                        Pagination="@pagination"
                        ResizableColumns="false"
                        GridTemplateColumns="0.5fr 2fr 2fr 1fr"
                        RowSize="DataGridRowSize.Large"
                        ShowHover="true"
                        GenerateHeader="GenerateHeaderOption.Sticky">
            <TemplateColumn Title="STT" Style="display:flex;align-items: center;">
                <span style="cursor: pointer;">
                    @context.Index
                </span>
            </TemplateColumn>
            <TemplateColumn Title="Họ tên" Style="display: flex;align-items: center;">
                <span style="cursor: pointer; color: dodgerblue;">
                    @context.FullName
                </span>
            </TemplateColumn>
            <TemplateColumn Title="Email" Style="display: flex;align-items: center;">
                <span style="cursor: pointer;">
                    @context.Email
                </span>
            </TemplateColumn>
            <TemplateColumn Title="Thao tác" Style="display: flex; align-items: center; justify-content:space-between;min-width:100px">
                <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                    <FluentButton Title="Xem chi tiết" Appearance="Appearance.Outline" >
                        <FluentIcon Value="@(new Icons.Regular.Size16.Eye())" />
                    </FluentButton>
                </FluentStack>
            </TemplateColumn>
        </FluentDataGrid>
        <Paginator PaginationState="@pagination" SelectedPageSizeChanged="RefresData" />
    </FluentGridItem>
</FluentStack>