@page "/Thanh-Toan/{PhuongThucNhanHang}"
@inherits CheckoutBase
@using Service.SnapFood.Client.Dto.Cart
@using Microsoft.FluentUI.AspNetCore.Components
@using Service.SnapFood.Client.Enums

@if (isLoading)
{
    <div class="loading-center">
        Đang tải...
    </div>
}
else
{
    @if (CartModel == null || !CartModel.CartItems.Any())
    {
        <p>Giỏ hàng của bạn trống.</p>
        <FluentButton Appearance="Appearance.Accent" @onclick="NavigateToHome">Quay lại mua sắm</FluentButton>
    }
    else
    {
        <div class="row" style="margin-top:30px;">
            <div class="col-7">
                <div class="container p-0">
                    <div class="card shadow">
                        <div class="card-body" style="padding:24px;">
                            <h4 class="card-title d-flex justify-content-between">
                                <span>CHI TIẾT ĐƠN HÀNG</span>
                                <FluentNavLink Href="/Gio-Hang">
                                    <span class="text-primary" style="cursor: pointer">✎</span>
                                </FluentNavLink>
                            </h4>
                            <hr style="margin-bottom:0;" />
                            @foreach (var item in CartModel.CartItems)
                            {
                                var totalItemPrice = item.BasePrice * item.Quantity;
                                <div class="row align-items-center border-bottom pb-2">
                                    <div class="col-2">
                                        <img style="max-width:70px;max-height:60px;" src="@item.ImageUrl" alt="@item.ItemName" class="img-fluid rounded" />
                                    </div>
                                    <div class="col-10">
                                        <p class="my-1 fw-bold">@item.ItemName</p>
                                        @if (item.ItemType == ItemType.Product)
                                        {
                                            <div style="max-height: 80px; overflow-y: auto; display: flex; flex-direction: column; gap: 4px; color: gray;padding-left:20px;">
                                                <div style="cursor: pointer;font-size:12px;">
                                                    Kích thước: @item.SizeName
                                                </div>
                                            </div>
                                        }
                                        @if (item.ItemType == ItemType.Combo)
                                        {
                                            <div style="max-height: 80px; overflow-y: auto; display: flex; flex-direction: column; gap: 4px; color: gray;padding-left:20px;">
                                                @foreach (var x in item.ComboItems)
                                                {
                                                    <p style="cursor: pointer;font-size:12px; margin:0px">@x.ProductName (@x.SizeName)</p>
                                                }
                                            </div>
                                        }
                                        @if (item.PriceEndown > 0)
                                        {
                                            <p class="my-2 text-muted">x @item.Quantity <span class="float-end fw-bold"><del class="float-end">@((item.BasePrice * item.Quantity).ToString("N0")) đ</del> <br />@((item.PriceEndown * item.Quantity).ToString("N0")) đ</span></p>
                                        }
                                        else
                                        {
                                            <p class="my-2 text-muted">x @item.Quantity <span class="float-end fw-bold">@((item.BasePrice * item.Quantity).ToString("N0")) đ</span></p>
                                        }
                                    </div>
                                </div>
                            }
                            <div class="mt-3">
                                <p class="d-flex justify-content-between my-2">
                                    Tổng <span class="fw-bold">@totalPrice.ToString("N0") đ</span>
                                </p>
                                <p class="d-flex justify-content-between my-2">
                                    Khuyến mại <span class="fw-bold">-@totalPriceEndown.ToString("N0") đ</span>
                                </p>
                                <hr />
                                <p class="d-flex justify-content-between my-2">
                                    Chi phí tạm tính
                                    <span class="fw-bold">
                                        @((totalPrice - totalPriceEndown).ToString("N0")) đ
                                    </span>
                                </p>
                                <p class="text-danger small">Đã bao gồm thuế VAT 8%</p>
                                <p class="d-flex justify-content-between mb-1">
                                    Phí giao hàng (@KhoangCach.ToString("F2") km) <span class="fw-bold">10,000 đ</span>
                                </p>
                            </div>
                            <hr />
                            <div class="my-3">
                                <label class="mb-2">Ghi chú</label>
                                <textarea class="form-control" @bind="Notes" id="pickupNote" rows="3" placeholder="Ghi chú (nếu có)"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-5">
                <div class="container p-0">
                    <div class="card shadow">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-between">
                                <span>Thông tin người nhận</span>
                                <FluentNavLink Href="/Dia-Chi">
                                    <span class="text-primary" style="cursor: pointer">✎</span>
                                </FluentNavLink>
                            </h4>
                            @if (PhuongThucNhanHang == "Nhan-Tai-Quay")
                            {
                                <div class="mt-3">
                                    <div class="mb-2">
                                        <label class="mb-2">Tên người nhận</label>
                                        <input type="text" class="form-control" id="pickupName" @bind-value="ReceiverName" />
                                    </div>
                                    <div class="mb-2">
                                        <label class="mb-2">Số điện thoại</label>
                                        <input type="text" class="form-control" id="pickupPhone" @bind-value="ReceiverPhone" />
                                    </div>
                                </div>
                            }
                            else
                            {
                                @if (string.IsNullOrEmpty(Address.FullName))
                                {
                                    <div class="alert alert-info">
                                        Địa chỉ của bạn trống.
                                        <a>Thêm địa chỉ</a>
                                    </div>
                                }
                                else
                                {
                                    <p class="mb-1">@Address.FullName</p>
                                    <p class="mb-1">@Address.NumberPhone</p>
                                    <p class="mb-1">@Address.SpecificAddress</p>
                                    <p class="mb-1">@Address.Ward, @Address.District, @Address.Province</p>
                                    @if (!string.IsNullOrEmpty(@Address.Description))
                                    {
                                        <p class="mb-1">Ghi chú: @Address.Description</p>
                                    }
                                    
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container p-0 mt-2">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="card-title d-flex justify-content-between">
                                <span>Thông tin cửa hàng</span>
                            </h4>
                            @if (string.IsNullOrEmpty(Store.StoreName))
                            {
                                <div class="alert alert-info">
                                    Hệ thống lỗi! Đang không tồn tại cửa hàng trên hệ thống.
                                </div>
                            }
                            else
                            {
                                <p class="mb-1" style="font-size:16px;">@Store.StoreName</p>
                                <p class="mb-1">@Store.Address.NumberPhone</p>
                                <p class="mb-1">@Store.Address.SpecificAddress</p>
                                <p class="mb-1">@Store.Address.Ward, @Store.Address.District, @Store.Address.Province</p>
                                @if (!string.IsNullOrEmpty(@Store.Address.Description))
                                {
                                    <p class="mb-1">Ghi chú: @Store.Address.Description</p>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="container mt-2 p-0">
                    <div class="card shadow-sm">
                        <div class="card-body">
                            <h4 class="fw-bold">THANH TOÁN</h4>
                            <div class="row mt-3 g-3">
                                <!-- Tiền mặt -->
                                <div class="col-md-4">
                                    <label class="border rounded p-3 d-flex flex-column align-items-center justify-content-center shadow-sm position-relative w-100 active">
                                        <input type="radio" name="payment" value="cash" class="form-check-input position-absolute top-0 start-0 m-2" checked />
                                        <img src="https://cdn-icons-png.flaticon.com/512/2331/2331949.png" alt="Tiền mặt" width="50" />
                                        <span class="mt-2 fw-bold">Tiền mặt</span>
                                    </label>
                                </div>
                                <!-- MoMo -->
                                <div class="col-md-4">
                                    <label class="border rounded p-3 d-flex flex-column align-items-center justify-content-center shadow-sm position-relative w-100">
                                        <input type="radio" name="payment" value="momo" class="form-check-input position-absolute top-0 start-0 m-2"
                                               @onchange="@(() => SelectedPaymentMethod = "momo")"
                                               checked="@(() => SelectedPaymentMethod == "momo")" />
                                        <img src="https://upload.wikimedia.org/wikipedia/vi/f/fe/MoMo_Logo.png" alt="MoMo E-Wallet" width="50" />
                                        <span class="mt-2 fw-bold">MoMo E-Wallet</span>
                                    </label>
                                </div>
                            </div>
                            <div class="container mt-2 p-0 text-end">
                                <button type="submit" style="background-color: #ff5b6a; color: white;" class="btn" disabled="@(string.IsNullOrEmpty(Store.StoreName))" @onclick="HandleCheckOut">Đặt hàng</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}