@page "/Quan-Ly/Nhan-Vien"
@using Microsoft.FluentUI.AspNetCore.Components
@using Microsoft.FluentUI.AspNetCore.Components.Icons
@using Service.SnapFood.Manage.Dto.StaffDto;
@namespace Service.SnapFood.Manage.Components.Pages.Manage.Staff

<FluentStack Orientation="Orientation.Vertical" VerticalGap="12">
	<h2>Danh sách nhân viên</h2>

	<FluentStack Orientation="Orientation.Horizontal" Style="display:flex; justify-content:space-between">
		<FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
			<FluentButton Appearance="Appearance.Accent" IconStart="@(new Icons.Regular.Size20.AddCircle())" OnClick="OpenModalAdd">Thêm mới</FluentButton>

		</FluentStack>
		<FluentSearch @bind-Value="SearchKeyword" @bind-Value:after=RefreshDataAsync Placeholder="Nhập vào từ khóa" />
	</FluentStack>

	<FluentGridItem Style="width:100%;">
		<FluentDataGrid @ref="StaffGrid"
						TGridItem="StaffDto"
						ItemsProvider="@LoadStaff"
						Pagination="@pagination"
						ResizableColumns="false"
						GridTemplateColumns=" 1.2fr 1.5fr 1.0fr 1.2fr 1.0fr 1.0fr"
						RowSize="DataGridRowSize.Large"
						ShowHover="true"
						GenerateHeader="GenerateHeaderOption.Sticky">


			<TemplateColumn Title="#" Style="display:flex;align-items: center;">
				<span style="cursor: pointer;">
					@context.Index
				</span>
			</TemplateColumn>
			<TemplateColumn Title="Họ tên" Style="display: flex;align-items: center;">
				<span style="cursor: pointer; color: dodgerblue;">
					@context.FullName
				</span>
			</TemplateColumn>

			<TemplateColumn Title="Email" Style="display: flex;align-items: center;">
				<span style="cursor: pointer;">
					@context.Email
				</span>
			</TemplateColumn>

			<TemplateColumn Title="SĐT" Style="display: flex;align-items: center;">
				<span style="cursor: pointer; ">
					@context.Numberphone
				</span>
			</TemplateColumn>


			<TemplateColumn Title="Trạng thái" Style="display: flex; align-items: center;">
				<FluentBadge Appearance="@(context.ModerationStatus != 0 ? Appearance.Neutral : Appearance.Accent)">
					@(context.ModerationStatus != 0 ? "Chưa phê duyệt" : "Đã duyệt")
				</FluentBadge>
			</TemplateColumn>
			<TemplateColumn Title="Thao tác" Style="display: flex; align-items: center; justify-content:space-between;min-width:155px">
				<FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
					@if (context.ModerationStatus != 0)
					{
						<FluentButton Title="Sửa" Appearance="Appearance.Outline" OnClick="@(()=> OpenModalUpdate(context.Id??string.Empty))">
							<FluentIcon Value="@(new Icons.Regular.Size16.Edit())" />
						</FluentButton>
					}

					@if (context.ModerationStatus == 0)
					{
						<FluentButton Title="Hủy duyệt" Appearance="Appearance.Outline" OnClick="@(() => RejectAsync(context.Id??string.Empty))">
							<FluentIcon Value="@(new Icons.Regular.Size16.Dismiss())" />
						</FluentButton>
					}
					else
					{
						<FluentButton Title="Duyệt" Appearance="Appearance.Outline" OnClick="@(() => ApproveAsync(context.Id??string.Empty))">
							<FluentIcon Value="@(new Icons.Regular.Size16.Checkmark())" />
						</FluentButton>
					}
					@if (context.ModerationStatus != 0)
					{
						<FluentButton Title="Xóa" Appearance="Appearance.Outline" OnClick="@(() => DeleteAsync(context.Id ??string.Empty))">
							<FluentIcon Value="@(new Icons.Regular.Size16.Delete())" />
						</FluentButton>


					}
				</FluentStack>
			</TemplateColumn>
		</FluentDataGrid>
		

		<Paginator PaginationState="@pagination" SelectedPageSizeChanged="RefresData" />
	</FluentGridItem>
</FluentStack> 
