@namespace Service.SnapFood.Manage.Components.Pages.Manage.Combo
@using Microsoft.FluentUI.AspNetCore.Components
@using Service.SnapFood.Manage.Dto
@using Service.SnapFood.Manage.Dto.Category
@using Service.SnapFood.Manage.Dto.Combo
@using Service.SnapFood.Manage.Dto.ProductDto
@using Service.SnapFood.Manage.Infrastructure.Services
@using Service.SnapFood.Share.Interface.Extentions
@using Service.SnapFood.Share.Model.SQL
@using Service.SnapFood.Share.Model.ServiceCustomHttpClient
@inherits ComponentBase
@implements IDialogContentComponent<EditOrUpdateParameters>

<EditForm Model="ComboModel" OnValidSubmit="HandleSubmit" Context="editForm">
    <DataAnnotationsValidator />

    <FluentDialogBody>
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <FluentMessageBar Title="Lỗi" Intent="@MessageIntent.Error">
                @ErrorMessage
            </FluentMessageBar>
        }
        <FluentGrid Spacing="2" Style="padding: 4px">
            <FluentGridItem md="5">
                <FluentCard Style="padding:13px">
                    <h4>Thông tin combo</h4>
                    <FluentStack Orientation="Orientation.Vertical" Gap="15">
                        <FluentTextField Label="Tên Combo" @bind-Value="ComboModel.ComboName" Style="width:100%;" />
                        <ValidationMessage style="color:red" For="@(() => ComboModel.ComboName)" />
                        <InputFile OnChange="FileSelect"></InputFile>
                        @if (!string.IsNullOrEmpty(imagePreviewUrl))
                        {
                            <img src="@imagePreviewUrl" style="max-width: 100px; margin-top: 10px;" />
                        }
                        else
                        {
                            <span>Ảnh trống!</span>
                        }
                        <ValidationMessage style="color:red" For="@(() => ComboModel.ImageUrl)" />
                        <FluentSelect Label="Phân loại"
                                      @bind-Value="ComboModel.CategoryId"
                                      Items="CategoryList"
                                      OptionText="@(x => x.CategoryName)"
                                      OptionValue="@(x => x.Id)"
                                      Nullable="true"
                                      Style="width:100%;"
                                      Height="220px"
                                      Position="SelectPosition.Below">
                        </FluentSelect>
                        <ValidationMessage style="color:red" For="@(() => ComboModel.CategoryId)" />

                        <FluentTextArea Label="Ghi chú" @bind-Value="ComboModel.Description" Style="width:100%" Rows="3" Resize="TextAreaResize.Both" />
                        <ValidationMessage style="color:red" For="@(() => ComboModel.Description)" />
                    </FluentStack>

                    <FluentDataGrid Items="@productDtos.AsQueryable()"
                                    GenerateHeader="GenerateHeaderOption.Sticky"
                                    Style="height: auto;max-height:200px;min-height: 15px; overflow-y: auto; overflow-x: hidden;"
                                    GridTemplateColumns="0.8fr 1.5fr 1.5fr 1.5fr 1.5fr 0.65fr"
                                    RowSize="DataGridRowSize.Large">
                        <ChildContent>
                            <TemplateColumn Title="#" Style="display:flex;align-items: center;">
                                <span style="cursor: pointer;">
                                    @(productDtos.IndexOf(context) + 1)
                                </span>
                            </TemplateColumn>
                            <PropertyColumn Property="@(u => u.ProductName)" Title="Tên" Sortable="true" />
                            <TemplateColumn Title="Hình ảnh" Style="display: flex; align-items: center;width:100%">
                                <img src="@context.ImageUrl" alt="Ảnh" style="max-height: 40px; max-width: 60px; object-fit: contain;" />
                            </TemplateColumn>
                            <TemplateColumn Title="Giá bán" Style="display: flex;align-items: center;">
                                <span style="cursor: pointer; ">
                                    @context.BasePrice.ToString("N0") đ
                                </span>
                            </TemplateColumn>
                            <TemplateColumn Title="Số lượng" Style="width:auto; display: flex;align-items: center;">
                                <FluentNumberField @bind-Value="@context.Quantity"
                                                   @onchange="@((e) => HandleQuantityChange(context, Convert.ToInt32(e.Value)))"></FluentNumberField>
                            </TemplateColumn>
                            <TemplateColumn Align="Align.Start">
                                <FluentButton Title="Gỡ bỏ"
                                              Style="display: inline-block;"
                                              OnClick="@(() => RemoveProduct(context))">
                                    <FluentIcon Value="@(new Icons.Regular.Size20.PresenceBlocked())" />
                                </FluentButton>
                            </TemplateColumn>
                        </ChildContent>
                    </FluentDataGrid>
                    <hr />
                    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="20" Style="margin-top: 10px;">
                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                            <span style="font-weight: bold;">Tổng số lượng:</span>
                            <span>@TotalQuantity</span>
                        </FluentStack>
                        <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                            <span style="font-weight: bold;">Tổng giá:</span>
                            <span>@TotalPrice.ToString("N0") đ</span>
                        </FluentStack>
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>

            <FluentGridItem md="7">
                <FluentCard Style="padding:13px">
                    <FluentStack Orientation="Orientation.Vertical">
                        <FluentStack Orientation="Orientation.Horizontal" Style="display:flex; justify-content:space-between">
                            <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="10">
                                <h4>Danh sách sản phẩm</h4>
                            </FluentStack>
                            <FluentSearch Placeholder="Nhập vào từ khóa" @bind-Value="SearchKeyword" @bind-Value:after=RefreshDataAsync />
                        </FluentStack>
                        <FluentGridItem Style="width:100%;">
                            <FluentDataGrid @ref="ProductGrid"
                                            TGridItem="ProductDto"
                                            ItemsProvider="@LoadProduct"
                                            Pagination="@pagination"
                                            ResizableColumns="false"
                                            GridTemplateColumns="1.0fr 1.5fr 1.55fr 1.5fr 1.35fr 0.45fr"
                                            RowSize="DataGridRowSize.Large"
                                            ShowHover="true"
                                            GenerateHeader="GenerateHeaderOption.Sticky"
                                            Style="max-height:500px;overflow-y: auto; overflow-x: hidden;">

                                <TemplateColumn Title="#" Style="display:flex;align-items: center;">
                                    <span style="cursor: pointer;">
                                        @context.Index
                                    </span>
                                </TemplateColumn>
                                <TemplateColumn Title="Tên" Style="display: flex;align-items: center;">
                                    <span style="cursor: pointer; color: dodgerblue; ">
                                        @context.ProductName
                                    </span>
                                </TemplateColumn>
                                <TemplateColumn Title="Hình ảnh" Style="display: flex; align-items: center;">
                                    <img src="@context.ImageUrl" alt="Ảnh sản phẩm" style="max-height: 40px; max-width: 60px; object-fit: contain;" />
                                </TemplateColumn>

                                <TemplateColumn Title="Giá bán" Style="display: flex;align-items: center;">
                                    <span style="cursor: pointer; ">
                                        @context.BasePrice.ToString("N0") đ
                                    </span>
                                </TemplateColumn>
                                <TemplateColumn Title="Số lượng" Style="display: flex;align-items: center;">
                                    <FluentNumberField @bind-Value="@context.Quantity"
                                                       @onchange="@((e) => HandleQuantityChange(context, Convert.ToInt32(e.Value)))"></FluentNumberField>
                                </TemplateColumn>
                                <TemplateColumn Style="display: flex; align-items: center;">
                                    <FluentStack Orientation="Orientation.Horizontal" HorizontalGap="5">
                                        <FluentCheckbox Value="context.IsSelected" @onclick="@(() => HandleProductSelection(context, !context.IsSelected))"></FluentCheckbox>
                                    </FluentStack>
                                </TemplateColumn>
                            </FluentDataGrid>

                            <Paginator PaginationState="@pagination" SelectedPageSizeChanged="RefresData" />
                        </FluentGridItem>
                    </FluentStack>
                </FluentCard>
            </FluentGridItem>
        </FluentGrid>
    </FluentDialogBody>
    <FluentDialogFooter>
        <FluentButton Appearance="Appearance.Neutral" OnClick="@CancelAsync">Hủy</FluentButton>
        <FluentButton Appearance="Appearance.Accent"
                      Type="ButtonType.Submit"
                      Disabled="@isSaving">
            @if (isSaving)
            {
                <span>Đang lưu...</span>
            }
            else
            {
                <span>Lưu</span>
            }
        </FluentButton>
    </FluentDialogFooter>
</EditForm>