@using Microsoft.AspNetCore.Components
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.FluentUI.AspNetCore.Components
@using Service.SnapFood.Manage.Dto
@using Service.SnapFood.Manage.Dto.User
@using Service.SnapFood.Manage.Infrastructure.Services
@using Service.SnapFood.Share.Interface.Extentions
@using Service.SnapFood.Share.Model.Commons
@using Service.SnapFood.Share.Model.ServiceCustomHttpClient

@implements IDialogContentComponent<EditOrUpdateParameters>

<FluentDialog @ref="Dialog" Modal="true" TrapFocus="true" Style="width: 500px;">
    <FluentDialogHeader>
        <h3>Thông tin tài khoản</h3>
    </FluentDialogHeader>

    <EditForm Model="UserModel" OnValidSubmit="HandleSubmit">
        <DataAnnotationsValidator />
        @if (!string.IsNullOrEmpty(ErrorMessage))
        {
            <FluentMessageBar Title="Lỗi" Intent="@MessageIntent.Error">
                @ErrorMessage
            </FluentMessageBar>
        }

        <FluentStack Orientation="Orientation.Vertical" Gap="15">
            <FluentTextField Label="Họ tên" @bind-Value="UserModel.FullName" Style="width:100%;" />
            <ValidationMessage For="@(() => UserModel.FullName)" style="color:red" />

            <FluentTextField Label="Email" @bind-Value="UserModel.Email" Style="width:100%;" />
            <ValidationMessage For="@(() => UserModel.Email)" style="color:red" />

            <FluentTextField Label="Số điện thoại" @bind-Value="UserModel.Numberphone" Style="width:100%;" />
            <ValidationMessage For="@(() => UserModel.Numberphone)" style="color:red" />

            <FluentStack>
                <FluentCheckbox @bind-Value="@UserModel.IsThayDoiMatKhau" @onclick="FuncThayDoiMatKhau" Label="Thay đổi mật khẩu" />
            </FluentStack>
            @if (UserModel.IsThayDoiMatKhau)
            {
                <FluentTextField Label="Mật khẩu cũ" @bind-Value="UserModel.Password" Style="width:100%;" placeholder="Nhập mật khẩu cũ" TextFieldType="TextFieldType.Password" />
                @if (!string.IsNullOrEmpty(CheckPassword))
                {
                    <div class="validation-message" style="color:red">@CheckPassword.</div>
                }

                <FluentTextField Label="Mật khẩu mới" @bind-Value="UserModel.PasswordMoi" Style="width:100%;" placeholder="Nhập mật khẩu mới" TextFieldType="TextFieldType.Password" />
                @if (!string.IsNullOrEmpty(CheckPasswordMoi))
                {
                    <div class="validation-message" style="color:red">@CheckPasswordMoi.</div>

                }

                <FluentTextField Label="Xác nhận mật khẩu mới" @bind-Value="UserModel.PasswordConfirmMoi" Style="width:100%;" placeholder="Nhập lại mật khẩu mới" TextFieldType="TextFieldType.Password" />
                @if (!string.IsNullOrEmpty(CheckPasswordConfirm))
                {
                    <div class="validation-message" style="color:red">@CheckPasswordConfirm.</div>

                }
            }

            <FluentStack Orientation="Orientation.Horizontal" HorizontalAlignment="HorizontalAlignment.End" Gap="10">
                <FluentButton Appearance="Appearance.Neutral" @onclick="HideDialog" Disabled="@isSaving">Hủy</FluentButton>
                <FluentButton Appearance="Appearance.Accent" Type="ButtonType.Submit" Disabled="@isSaving">
                    @if (isSaving)
                    {
                        <span style="margin-left: 8px;">Đang lưu...</span>
                    }
                    else
                    {
                        <span>Cập nhật</span>
                    }
                </FluentButton>
            </FluentStack>
        </FluentStack>
    </EditForm>
</FluentDialog>

@code {


    [Inject] private ICallServiceRegistry CallApi { get; set; } = default!;
    [Inject] private IToastService ToastService { get; set; } = default!;
    [CascadingParameter] public FluentDialog Dialog { get; set; } = default!;
    [Parameter] public EditOrUpdateParameters Content { get; set; } = new();
    private ApiRequestModel requestRestAPI = new ApiRequestModel() { };
    private UserDto UserModel { get; set; } = new UserDto();

    private string? ErrorMessage;
    private bool isSaving = false;

    private string CheckPassword { get; set; } = string.Empty;
    private string CheckPasswordMoi { get; set; } = string.Empty;
    private string CheckPasswordConfirm { get; set; } = string.Empty;

    protected override async Task OnInitializedAsync()
    {
        if (Content.IsEditMode)
        {
            await GetUser();
        }
    }

    private async Task GetUser()
    {

        requestRestAPI.Endpoint = $"api/User/{Content.Id}";
        ResultAPI result = await CallApi.Get<UserDto>(requestRestAPI);
        if (result.Status == StatusCode.OK)
        {
            UserModel = result.Data as UserDto ?? new UserDto();
        }

    }


    private async Task<bool> UpdateModule(Guid id, UserDto updateRequest)
    {
        ErrorMessage = null;
        try
        {
            isSaving = true;

            if (UserModel.IsThayDoiMatKhau)
            {
                if (string.IsNullOrEmpty(UserModel.Password) || string.IsNullOrEmpty(UserModel.PasswordMoi) || string.IsNullOrEmpty(UserModel.PasswordConfirmMoi))
                {
                    if (string.IsNullOrEmpty(UserModel.Password))
                    {
                        CheckPassword = "Mật khẩu không được để trống";
                    }

                    if (string.IsNullOrEmpty(UserModel.PasswordMoi))
                    {
                        CheckPasswordMoi = "Mật khẩu mới không được để trống";
                    }

                    if (string.IsNullOrEmpty(UserModel.PasswordConfirmMoi))
                    {
                        CheckPasswordConfirm = "Mật khẩu mới không được để trống";
                    }


                    StateHasChanged();
                    return false;
                }

                if (!string.IsNullOrEmpty(UserModel.PasswordConfirmMoi) && !string.IsNullOrEmpty(UserModel.PasswordMoi) && UserModel.PasswordConfirmMoi != UserModel.PasswordMoi)
                {
                    CheckPasswordConfirm = "Mật khẩu xác nhận không chính xác";
                    StateHasChanged();
                    return false;
                }

            }
            requestRestAPI.Endpoint = $"api/User/{id}";
            ResultAPI result = await CallApi.Put(requestRestAPI, updateRequest);
            if (result.Status == StatusCode.OK)
            {
                return true;
            }
            else
            {
                ErrorMessage = "Sửa thất bại: " + result.Message;
                return false;
            }
        }
        catch (Exception ex)
        {
            ErrorMessage = "Sửa thất bại: " + ex.Message;
            return false;
        }
        finally
        {
            isSaving = false;
            StateHasChanged();
        }
    }

    private async Task HandleSubmit()
    {
        bool result = false;

        if (Content.IsEditMode)
        {
            result = await UpdateModule(Content.Id, UserModel);
        }
        if (result)
        {
            ToastService.ShowSuccess("Cập nhật thành công");
        }

    }

    public override async Task SetParametersAsync(ParameterView parameters)
    {
        await base.SetParametersAsync(parameters);

        if (Content.IsEditMode && Content.Id != Guid.Empty)
        {
            await GetUser();
        }
    }


    private async Task HideDialog()
    {
        await Dialog.CloseAsync();
    }
    private void FuncThayDoiMatKhau()
    {
        StateHasChanged();
    }
}
